<div class="navigation">
  <a class="button">
    <img src="https://cdn-icons-png.flaticon.com/512/3135/3135715.png" alt="logo">
    <div class="logout" (click)="signOutWithCognito()">LOGOUT</div>
  </a>
</div>

<div class="user-content">
  <h2>Upload files</h2>
  <input type="file" id="file" (change)="handleFileInput($event)" >
  <input type="text" id="description" [(ngModel)]="description" placeholder="Description">
  <input type="text" id="tags" [(ngModel)]="tags" placeholder="Tags">

  <button (click)="onUpload()"  [disabled]="!selectedFile">Upload</button>
</div>
<app-message-modal *ngIf="showAlert" (modalClose)="showAlert=false" [message]="alertMessage"></app-message-modal>