div
{
    padding: 5px;
    display: block;
    height: 50%;
    width: 10%;
    margin-left: 45%;
    margin-top: 25%;
    background-color: mediumspringgreen;
}

.element
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
}

input
{
    width: min-content;
}

button
{
    text-align: center;
}