div
{
    padding: 5px;
    display: block;
    height: 50%;
    width: 10%;
    margin: auto;
    border-style: solid;
    border-color: black;
    border-width: 3px;
}

.element
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
}

input
{
    width: min-content;
}

button
{
    text-align: center;
}