<div class="container" *ngIf="user">
    <div class = "row w-100 vh-100 justify-content-center align-items-center">
        <div class = "auth-box">
            <div *ngIf="!isConfirm">

                <div class="header">
                    <h2>Register</h2>
                    <h4>Register your account using below information</h4>
                </div>

                <div class="form">
                    <input type="text" name="givenName" [(ngModel)]="user.given_name" placeholder="First Name">
                    <input type="text" name="familyName" [(ngModel)]="user.family_name" placeholder="Last Name">
                    <input type="email" name="email" [(ngModel)]="user.email" placeholder="Email Address" autocomplete="off">
                    <input [type]="user.showPassword ? 'text' : 'password'" name="password" placeholder="Password" [(ngModel)] = "user.password">
                    <div>
                        <input type="checkbox" [checked]="user.showPassword" (change)="user.showPassword = !user.showPassword">
                        Show Password
                    </div>
                    <p>Already a member? <a href="/sign-in">Sign in</a></p>
                    <button (click) = "signUpWithCognito()">REGISTER</button>
                </div>
            </div>
        </div>
    </div>
</div>